@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 147 48% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 147 48% 94%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 147 48% 94%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 147 45% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 174 55% 68%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 147 45% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 147 20% 8%;
    --foreground: 147 15% 95%;
    --card: 147 20% 12%;
    --card-foreground: 147 15% 95%;
    --popover: 147 20% 8%;
    --popover-foreground: 147 15% 95%;
    --primary: 147 45% 49%;
    --primary-foreground: 147 15% 95%;
    --secondary: 147 20% 15%;
    --secondary-foreground: 147 15% 95%;
    --muted: 147 20% 15%;
    --muted-foreground: 147 10% 65%;
    --accent: 174 55% 68%;
    --accent-foreground: 147 20% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 147 20% 15%;
    --input: 147 20% 15%;
    --ring: 147 45% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
